In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
df_train=pd.read_csv('train_Insurance.csv')
df_test=pd.read_csv('test_Insurance.csv')
df_train

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
0,H13501,2012,1.0,1,N,V,V,U,1240.0,Wood-framed,without,75117,non
1,H14962,2012,1.0,0,N,V,V,U,900.0,Non-combustible,without,62916,non
2,H17755,2013,1.0,1,V,N,O,R,4984.0,Non-combustible,4,31149,oui
3,H13369,2016,0.5,0,N,V,V,U,600.0,Wood-framed,without,6012,oui
4,H12988,2012,1.0,0,N,V,V,U,900.0,Non-combustible,without,57631,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,H13682,2013,1.0,0,N,V,V,U,550.0,Ordinary,without,33063,oui
5008,H18342,2012,0.5,0,V,N,O,R,1000.0,Fire-resistive,4,13004,non
5009,H16892,2015,1.0,1,V,N,O,R,480.0,Ordinary,3,94059,non
5010,H18805,2012,0.5,0,V,N,O,R,536.0,Fire-resistive,4,74243,non
5011,H18228,2013,1.0,1,V,V,V,U,NaN,Wood-framed,without,NaN,non

In [5]:
df_train.describe(include="all")

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
count,5012,5012.000000,5012.000000,5012.000000,5012,5012,5008,5012,4935.000000,5012,5012,4939,5012
unique,5012,NaN,NaN,NaN,2,2,2,2,NaN,4,11,1115,2
top,H13501,NaN,NaN,NaN,V,N,O,R,NaN,Non-combustible,without,6088,non
freq,1,NaN,NaN,NaN,3763,2535,2532,2537,NaN,2310,2476,102,3886
mean,NaN,2013.660215,0.869713,0.301077,NaN,NaN,NaN,NaN,1876.898683,NaN,NaN,NaN,NaN
std,NaN,1.383134,0.219496,0.458772,NaN,NaN,NaN,NaN,2267.277397,NaN,NaN,NaN,NaN
min,NaN,2012.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,2012.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,520.000000,NaN,NaN,NaN,NaN
50%,NaN,2013.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,1067.000000,NaN,NaN,NaN,NaN
75%,NaN,2015.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,2280.000000,NaN,NaN,NaN,NaN
max,NaN,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,20840.000000,NaN,NaN,NaN,NaN

In [6]:
df_train['NumberOfWindows'].unique()

array(['without', '4', '2', '7', '5', '3', '8', '>=10', '6', '1', '9'],
      dtype=object)

In [7]:
df_train.isna().sum()

Customer Id            0
YearOfObservation      0
Insured_Period         0
Residential            0
Building_Painted       0
Building_Fenced        0
Garden                 4
Settlement             0
Building Dimension    77
Building_Type          0
NumberOfWindows        0
Geo_Code              73
Claim                  0
dtype: int64

# encoding

In [10]:
for i in df_train.columns:
  print(i)
  print(df_train[i].unique())

Customer Id
['H13501' 'H14962' 'H17755' ... 'H16892' 'H18805' 'H18228']
YearOfObservation
[2012 2013 2016 2014 2015]
Insured_Period
[1.  0.5]
Residential
[1 0]
Building_Painted
['N' 'V']
Building_Fenced
['V' 'N']
Garden
['V' 'O' nan]
Settlement
['U' 'R']
Building Dimension
[ 1240.   900.  4984. ...  4430. 16459.   173.]
Building_Type
['Wood-framed' 'Non-combustible' 'Ordinary' 'Fire-resistive']
NumberOfWindows
['without' '4' '2' '7' '5' '3' '8' '>=10' '6' '1' '9']
Geo_Code
[ 795.  563.  203. ...  399.  366. 1077.]
Claim
['non' 'oui']

###

In [11]:
#changement de la valeur 'without' dans numberofwindows par la valeur 0
df_train['NumberOfWindows']=df_train['NumberOfWindows'].apply(lambda x:0 if x=='without' else x)
ord_categories=[[0.5,1],['V','N'],['V','N'],['R','U']]
enc=OrdinalEncoder(categories=ord_categories)
df_train[['Insured_Period','Building_Painted','Building_Fenced','Settlement']]=enc.fit_transform(df_train[['Insured_Period','Building_Painted','Building_Fenced','Settlement']])

df_train

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,NumberOfWindows,Geo_Code,Claim
0,H13501,2012,1.0,1,1.0,0.0,V,1.0,1240.0,Wood-framed,0,795.0,non
1,H14962,2012,1.0,0,1.0,0.0,V,1.0,900.0,Non-combustible,0,563.0,non
2,H17755,2013,1.0,1,0.0,1.0,O,0.0,4984.0,Non-combustible,4,203.0,oui
3,H13369,2016,0.0,0,1.0,0.0,V,1.0,600.0,Wood-framed,0,495.0,oui
4,H12988,2012,1.0,0,1.0,0.0,V,1.0,900.0,Non-combustible,0,464.0,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,H13682,2013,1.0,0,1.0,0.0,V,1.0,550.0,Ordinary,0,222.0,oui
5008,H18342,2012,0.0,0,0.0,1.0,O,0.0,1000.0,Fire-resistive,4,27.0,non
5009,H16892,2015,1.0,1,0.0,1.0,O,0.0,480.0,Ordinary,3,1077.0,non
5010,H18805,2012,0.0,0,0.0,1.0,O,0.0,536.0,Fire-resistive,4,765.0,non
5011,H18228,2013,1.0,1,0.0,0.0,V,1.0,NaN,Wood-framed,0,NaN,non

In [12]:
X = OneHotEncoder(sparse_output=False,categories=[["Wood-framed", "Non-combustible", "Ordinary","Fire-resistive"]]).fit_transform(df_train.loc[:,["Building_Type"]])
df_train=pd.concat([df_train,pd.DataFrame(X,columns=["Wood-framed", "Non-combustible", "Type_Ordinary","Fire-resistive"])],axis=1)
df_train.drop(columns=["Building_Type"],inplace=True)
df_train=pd.concat([df_train.iloc[:,:-6],df_train.iloc[:,-4:],df_train.iloc[:,[-6]],df_train.iloc[:,[-5]]],axis=1)
df_train

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,NumberOfWindows,Wood-framed,Non-combustible,Type_Ordinary,Fire-resistive,Geo_Code,Claim
0,H13501,2012,1.0,1,1.0,0.0,V,1.0,1240.0,0,1.0,0.0,0.0,0.0,795.0,non
1,H14962,2012,1.0,0,1.0,0.0,V,1.0,900.0,0,0.0,1.0,0.0,0.0,563.0,non
2,H17755,2013,1.0,1,0.0,1.0,O,0.0,4984.0,4,0.0,1.0,0.0,0.0,203.0,oui
3,H13369,2016,0.0,0,1.0,0.0,V,1.0,600.0,0,1.0,0.0,0.0,0.0,495.0,oui
4,H12988,2012,1.0,0,1.0,0.0,V,1.0,900.0,0,0.0,1.0,0.0,0.0,464.0,non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,H13682,2013,1.0,0,1.0,0.0,V,1.0,550.0,0,0.0,0.0,1.0,0.0,222.0,oui
5008,H18342,2012,0.0,0,0.0,1.0,O,0.0,1000.0,4,0.0,0.0,0.0,1.0,27.0,non
5009,H16892,2015,1.0,1,0.0,1.0,O,0.0,480.0,3,0.0,0.0,1.0,0.0,1077.0,non
5010,H18805,2012,0.0,0,0.0,1.0,O,0.0,536.0,4,0.0,0.0,0.0,1.0,765.0,non
5011,H18228,2013,1.0,1,0.0,0.0,V,1.0,NaN,0,1.0,0.0,0.0,0.0,NaN,non